.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.carousel-control {
  width: 80px;
  color: #f84e57;
  background: none !important;
  filter: progid: none !important;
}

.title-heading {
  background-color: #f84e57;
  color: white;
  font-family: maquette, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px
}

.footer {
  background-color: #f84e57;
  font-size: 20px;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  font-size: 1.25em;
  font-family: maquette, Helvetica Neue, Helvetica, Arial, sans-serif;
};


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
